@import './utils.scss';
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');

.navbar{
  background-color: #f6fdff;
  .container{
    .row{
      .nav{
        display: none;
        overflow: hidden; padding: 25px 0; 
        div{
          width: 40%;
          float: left;
          &:last-child{
            width: 20%;
          }
          &:last-child li{
            width: 100%;
          }
          h3{
            font-size: 18px;
            color: #25a2d0; font-weight: bold; margin-bottom: 7px;
          }
          ol{
            overflow: hidden;
            li{
              width: 50%;
              float: left;
              position: relative;
              padding-left: 8px;
              box-sizing: border-box;
              &::before{
                content: '';
                width: 3px; height: 3px;
                background-color: #25a2d0; border-radius: 50%;
                position: absolute; top: 6px; left: 0;
              }
              &:hover a{
                color:#25a2d0;
              }
              &:hover a::after{
                width: 100%;
              }
              a{
                position: relative;
                &::after{
                  content: '';
                  width: 0%; height: 1px;
                  transition: all .2s ease-out;
                  background-color: #25a2d0;
                  display: inline-block;
                  position: absolute; bottom: -1px; left: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
.sub-title{
  background-color: #eaf7fd;
  .container{
    .title{
      text-align: center;
      position: relative;
      h2{
        font-size: 40px; font-family: 'Nanum Brush Script', cursive; color:#0093bd; padding: 10px 0;}
      .btn{
        all:unset;
        position: absolute;
        right: 0; top: 8px;
        width: 50px; height: 50px; line-height: 50px; background-color: #3192bf;border-radius: 50%; transition: all .3s ease; cursor: pointer;
        color:#fff;  font-size: 26px;
        &:hover{
          box-shadow: 
          0 0 0 3px rgba(71,154,191,.9) inset,
          0 0 0 100px rgba(0,0,0,.1) inset;
        }
      }
    }
  }
}


@include responsive(T){
  .navbar{
    .container{
      .row{
        .nav{
          div{
            float:none;
            width: 100%;
            &:last-child{
              width: 100%;
            }
            &:last-child li{
              width: 33.33333%;
            }
            ol{
              margin-bottom: 10px;
              li{
                width: 33.3333%;
              }
            }
          }
        }
      }
    }
  }
  .sub-title{
    .container{
      .title{
        .btn{
          right: 5px;
        }
      }
    }
  }
}
@include responsive(M){
  .navbar{
    .container{
      .row{
        .nav{
          div{
            &:last-child li{
              width: 50%;
            }
            ol{
              li{
                width: 50%;
              }
            }
          }
        }
      }
    }
  }
  .sub-title{
    .container{
      .title{
        .btn{display: none;
        }
      }
    }
  }
}
@include responsive(MM){
  .navbar{
    .container{
      .row{
        .nav{
          div{
            &:last-child li{
              width: 100%;
            }
            ol{
              li{
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}